blinker==1.7.0
click==8.1.7
Flask==2.2.2
gunicorn==21.2.0
importlib-metadata==4.11.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
MarkupSafe==2.1.1
numpy==1.22.4
packaging==21.3
pandas==1.4.3
python-dateutil==2.8.2
pytz==2022.1
scikit-learn==1.0.2
scipy==1.8.1
six==1.16.0
threadpoolctl==3.1.0
tzdata==2022.1
Werkzeug==2.2.2
zipp==3.8.0
