@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, input, button, .switch, label, h2 {
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

/* Theme switcher styles */
.theme-switcher {
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#toggle-label {
    margin-left: 10px;
    font-size: 14px;
    transition: color 0.3s;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    border-radius: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 22px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(18px);
}

/* Light theme styles */
.light-theme {
    background-color: #ffffff;
    color: #000000;
}

.light-theme input,
.light-theme button {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ccc;
}

/* Dark theme styles */
.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

.dark-theme input,
.dark-theme button {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #757575;
}

.dark-theme .slider:before {
    background-color: #757575;
}

.dark-theme #toggle-label {
    color: #ffffff;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    text-align: center;
}

header {
    background-color: inherit;
    color: inherit;
    text-align: center;
}

.title{
    text-align: center;
    width: 100%;
}


form {
    margin: 20px 0;
}

form h2 {
    color: #000;
}

input[type=text], input[type=number], input[type=submit], select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: background-color 0.3s, border-color 0.3s;
}

input[type=submit] {
    background-color: #2196F3;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1e88e5;
}

#prediction-result {
    display: none;
}

#vehicle-info, #predicted-price {
    margin: 10px 0;
}

#price-chart {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

.dark-theme .container,
.dark-theme form h2,
.dark-theme #vehicle-info,
.dark-theme #predicted-price {
    background-color: #333333;
    color: #ffffff;
}

.dark-theme input[type=text],
.dark-theme input[type=number],
.dark-theme input[type=submit],
.dark-theme select {
    background-color: #424242;
    color: #ffffff;
    border: 1px solid #616161;
}

.dark-theme input[type=submit] {
    background-color: #2196F3;
}

#back-button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: none; 
  }
  
  #back-button.visible {
    display: inline-block;
  }

  footer {
    text-align: center;
    padding: 10px;
    background-color: #f3f3f3; 
    position: absolute;
    bottom: 0;
    width: 100%;
    text-transform: italic;
}

.light-theme footer {
    background-color: #f3f3f3;
    color: #333;
}

.light-theme footer p{
    margin: 0;
    color: #333;
    font-size: 0.9em;
}

.dark-theme footer {
    background-color: #333; 
    color: #f3f3f3;
}

.dark-theme footer p {
    margin: 0;
    color: #f3f3f3;
    font-size: 0.9em;
}